<div class="container">
  <form (ngSubmit)="onSubmit()" class="forecast-form">
    <input type="text" name="forecastCity" [(ngModel)]="city" placeholder="Name of a city" class="forecast-form__input" required>
    <button type="submit" class="forecast-form__btn">Go</button>
  </form>

  <div *ngIf="cityForecast.length > 0" class="all-forecast">
    <h3>Все прогнозы:</h3>
    <div *ngFor="let day of cityForecast">
      <div>
        <strong>{{ day.day }}</strong>:
        Температура: {{ day.temperature }}°C,
        <img [src]="day.icon" alt="weather icon">
      </div>
    </div>
  </div>

  <div *ngIf="visitedCities.length > 0" class="visited-cities">
    <h3>Посещенные города:</h3>
    <ul>
      <li *ngFor="let city of visitedCities">{{ city }}</li>
    </ul>
  </div>

</div>
