<aside class="sidebar">
  <header class="sidebar-header">
    <nav>
      <div class="bottom-items">
        <a routerLink="/weather" class="nav-link">
          <img src="assets/images/cloud-lightning-rain.svg" alt="Weather">
          <div>Weather</div>
        </a>
        <a routerLink="/cities" class="nav-link">
          <img src="assets/images/list-ul.svg" alt="Cities">
          <div>Cities</div>
        </a>
        <a routerLink="/settings" class="nav-link">
          <img src="assets/images/sliders.svg" alt="Settings">
          <div>Settings</div>
        </a>
      </div>
    </nav>
  </header>
</aside>

<router-outlet></router-outlet>
