<h1>Погода</h1>
<div class="city-list">
  <input
    type="text"
    [(ngModel)]="inputCity"
    placeholder="Введите название города"
    class="form-control mb-3"
  />
  <button class="btn btn-primary btn-block" (click)="getWeather()">Получить погоду</button>
  <a class="link" (click)="goBack()">Назад →</a>
  <div *ngIf="cityWeatherList.length > 0">
    <div class="city-card" *ngFor="let city of cityWeatherList" (click)="getWeatherForCity(city)">
      <h3>{{ city.name }}</h3>
      <p>{{ city.weather.current.temp_c }}°C</p>
      <p>{{ city.weather.current.condition.text }}</p>
    </div>
  </div>
</div>
