body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

main {
  padding: 40px;
  text-align: left;
  color: #333;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search-input {
  padding-left: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
}

.city-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.city-card:hover {
  transform: scale(1.05);
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.city-info p {
  margin: 0;
  font-size: 20px;
  color: #202b3d;
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.weather-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.weather-condition {
  font-size: 18px;
  color: #202b3d;
  text-align: right;
}

@media (max-width: 1600px) {
  main {
    padding: 30px;
  }

  .city-card {
    padding: 25px;
  }

  .city-info p {
    font-size: 22px;
  }

  .weather-icon {
    width: 55px;
    height: 55px;
  }

  .weather-condition {
    font-size: 16px;
  }
}

@media (max-width: 1366px) {
  main {
    padding: 25px;
  }

  .city-card {
    padding: 22px;
  }

  .city-info p {
    font-size: 20px;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
  }

  .weather-condition {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  main {
    padding: 20px;
  }

  .city-card {
    padding: 18px;
  }

  .city-info p {
    font-size: 18px;
  }

  .weather-details {
    flex-direction: column;
  }

  .weather-icon {
    width: 45px;
    height: 45px;
  }

  .weather-condition {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  main {
    padding: 15px;
  }

  .city-card {
    padding: 15px;
  }

  .city-info p {
    font-size: 16px;
  }

  .weather-details {
    flex-direction: column;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
  }

  .weather-condition {
    font-size: 14px;
  }

  input.form-control {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .city-card {
    padding: 12px;
  }

  .city-info p {
    font-size: 14px;
  }

  .weather-details {
    flex-direction: column;
    align-items: center;
  }

  .weather-icon {
    width: 35px;
    height: 35px;
  }

  .weather-condition {
    font-size: 12px;
  }

  input.form-control {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {
  .city-card {
    padding: 10px;
  }

  .city-info p {
    font-size: 12px;
  }

  .weather-details {
    flex-direction: column;
    align-items: center;
  }

  .weather-icon {
    width: 30px;
    height: 30px;
  }

  .weather-condition {
    font-size: 10px;
  }

  input.form-control {
    width: 100%;
    margin-bottom: 15px;
  }
}
