<main>
  <div class="unit">Unit</div>

  <div class="form-group">
    <label for="temperatureUnit">Temperature unit</label>
    <select id="temperatureUnit" [(ngModel)]="temperatureUnit" (ngModelChange)="updateSettings()" class="form-control">
      <option value="C">°C</option>
      <option value="F">°F</option>
    </select>
  </div>

  <div class="form-group">
    <label for="windSpeedUnit">Wind speed unit</label>
    <select id="windSpeedUnit" [(ngModel)]="windSpeedUnit" (ngModelChange)="updateSettings()" class="form-control">
      <option value="kph">kp/h</option>
      <option value="mph">mp/h</option>
    </select>
  </div>

  <div class="form-group">
    <label for="pressureUnit">Atmospheric pressure unit</label>
    <select id="pressureUnit" [(ngModel)]="pressureUnit" (ngModelChange)="updateSettings()" class="form-control">
      <option value="mb">mbar</option>
      <option value="in">in</option>
    </select>
  </div>

  <div class="content">
    <div class="extra">Extra</div>
    <div class="about">About</div>
    <div class="policy">Privacy policy</div>
  </div>
</main>
